{% extends 'base_dashboard.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Welcome, {{ user.username }}</h1>
</div>
{% endblock %}

{% block nav %}
 <li class="nav-item">
    <a class="nav-link" href="Registration">
        <span class="oi oi-chevron-right"></span>
        Registration
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="MyCourses">
        <span class="oi oi-chevron-right"></span>
        My Courses
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="MyProfessors">
        <span class="oi oi-chevron-right"></span>
        My Professors
    </a>
</li>
{% endblock %}