{% extends 'collegeWebPortal/index.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Registration</h1>
</div>
<div>
	<ul style="list-style-type: none;">
	{% for e in courses %}
		<ul style="list-style-type: none; height: 40px;">
			<li style="display:inline;">{{e.department.code}}{{e.number}}</li>
			<li style="display:inline;">{{e.name}}</li>
			<li style="display:inline; float: right;"><button>select</button></li>
		</ul>
	{% endfor %}
	</ul>
</div>
{% endblock %}


