{% extends 'collegeWebPortal/base_student.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>My Courses</h1>
</div>
<div>
    {% if sections %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Schedule</th>
                    <th>Instructor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                <tr>
                    <td>{{ section.number }}</td>
                    <td>{{ section.get_schedule_display }} {{ section.start_time }} - {{ section.end_time }}</td>
                    <td>{{ section.instructor }}</td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You currently are not enrolled in any courses. Visit <a href="{% url 'student-registration' %}">Registration</a> to select courses.</p>
    {% endif %}
</div>
{% endblock %}