<li class="nav-item">
    <a class="nav-link{% if request.path == '/student' %} active{% endif %}" href="{% url 'student' %}">
        <span class="oi oi-home"></span>
        Dashboard <span class="sr-only">(current)</span>
    </a>
</li>
 <li class="nav-item">
    <a class="nav-link{% if '/student/registration' in request.path %} active{% endif %}" href="{% url 'student-registration' %}">
        <span class="oi oi-task"></span>
        Registration
    </a>
</li>
<li class="nav-item">
    <a class="nav-link{% if request.path == '/student/courses' %} active{% endif %}" href="{% url 'student-courses' %}">
        <span class="oi oi-list"></span>
        My Courses
    </a>
</li>
<li class="nav-item">
    <a class="nav-link{% if request.path == '/student/professors' %} active{% endif %}" href="{% url 'student-professors' %}">
        <span class="oi oi-people"></span>
        My Professors
    </a>
</li>
<li class="nav-item">
    <a class="nav-link{% if request.path == '/student/all_professors' %} active{% endif %}" href="{% url 'student-all-professors' %}">
        <span class="oi oi-people"></span>
        All Professors
    </a>
</li>