<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Course Table</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>Course #</th>
            <th>Name</th>
            <th>Pre-Req</th>
            <th>Required By</th>
            <th>Description</th>
            <th>Dept Code</th>
        </tr>
        <tr>
            <td>CS157A</td>
            <td>Introduction to Database Systems</td>
            <td>CS46B</td>
            <td>N/A</td>
            <td>Learning SQL...</td>
            <td>CS</td>
        </tr>
        <tr>
            <td>CS149</td>
            <td>Introduction to Operating Systems</td>
            <td>CS146</td>
            <td>CMPE172</td>
            <td>Multi-threading...</td>
            <td>CS</td>
        </tr>
        <tr>
            <td>CS46B</td>
            <td>Introduction to Data Structures</td>
            <td>CS46A</td>
            <td>CS146</td>
            <td>Basic data structures...</td>
            <td>CS</td>
        </tr>
    </table>

    <p><h3>Student ID: 123456789</h3></p>
    <h4>Major 1: Computer Science</h4>
    <h4>Major 2: Economics</h4>
    <h4>Minor: Linguistics</h4>
    <h4>GPA: 3.5</h4>

    <p><h3>Professor ID: 987654321</h3></p>
    <h4>Contact Info: professor@sjsu.edu</h4>
    <h4>Office hour: Mon, Wed (3-5pm)</h4>
    <h4>Bio:</h4>
    <p class="lead">I am a CS professor</p>
</body>
</html>