{% extends 'collegeWebPortal/base_professor.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Welcome, {{ user.username }}</h1>
</div>
<div>
	<h2>Class Schedule</h2>
	{% if not classes %}
		<p>You are not currently teaching any courses.</p>
	{% else %}
	<table>
		<tr>
			<th>Time</th>
			<th>Course</th>
			<th>Location</th>
		</tr>
		{% for c in classes %}
		<tr>
			<td>{{s.start_time}} - {{s.end_time}} {{s.schedule}}</td>
			<td>{{c.course.name}}</td>
			<td>{{c.location.building.code}}{{c.location.number}}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}